<div class="container">
  <div class="row justify-content-md-center">
    <div class="card" style="width: 700px; margin-top: 50px;">
      <div class="card-body">
        <h5 class="card-title"><%= @restaurant.name %></h5>
        <p class="card-text"><%= @restaurant.address %></p>
        <%= link_to 'Back to the restaurants', restaurants_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>

  <div class="row justify-content-md-center">
    <div class="card" style="width: 700px; margin-top: 50px;">
      <div class="card-body">
        <h6 class="card-title">Reviews of <%= @restaurant.name %>:</h6>
        <ul class="list-group">
          <% @reviews.each do |review| %>
           <li class="list-group-item"><%= review.content %>  / <%= review.rating %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<h1>Add a review for the @restaurant.name:</h1>
<%= simple_form_for [ @restaurant, @review ] do |f| %>
  <%= f.input :content, error: 'Please write a review'  %>
  <%= f.input :rating, as: :select, collection: [0, 1, 2, 3, 4, 5], prompt: 'Your rating', error: 'A rating please'  %>
  <%= f.submit "Add your review", class: "btn btn-primary" %>
<% end %>
